@font-face {
    font-family: "OngleapNuka";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleapNuka/OngleapNuka.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapNuka/OngleapNuka.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapNuka/OngleapNuka.ttf") format("truetype");
    font-display: swap;
}

.OngleapNuka {
    font-family: "OngleapNuka";
}
